.content {
  background-color: rgb(77, 77, 77);
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.margin {
  margin-left: 7px;
}
section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.reset-Button {
  background: #ff5858;
  border: 0px;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
}
.accept-Button {
  background: #11c440;
    border: 0px;
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
}
.wrapper {
  display: grid;
  place-items: center;
  height: calc(100vh - 20px);
}
.inner {
  padding: 12px;
}
